
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    /*max-width: 98.5%;*/
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}


html {
    height: 100%;
}

body {
        color: #333;
        font-family: Muli, "sans-serif";
        font-weight: 300;
        height: 100%;
      }
      h1 {
        font-family: "Playfair Display", serif;
      }
      h1.title {
        font-size: 36pt;
        color: #333;
        font-variant: small-caps;
        font-weight: 400;
        text-transform: lowercase;
        margin-bottom: 0px;
      }

      p {
        color: #333;
        font-family: Muli, sans-serif;
        font-weight: 300;
        text-align: justify;
      }

      .row.main p {
        padding-left: 15px;
        padding-right: 15px;
      }

      .row.main .col-xs-1 p, .row.main .col-xs-2 p, .row.main .col-xs-3 p,
      .row.main .col-xs-4 p, .row.main .col-xs-5 p, .row.main .col-xs-6 p,
      .row.main .col-xs-7 p, .row.main .col-xs-8 p, .row.main .col-xs-9 p,
      .row.main .col-xs-10 p, .row.main .col-xs-11 p, .row.main .col-xs-12 p,
      .row.main .col-sm-1 p, .row.main .col-sm-2 p, .row.main .col-sm-3 p,
      .row.main .col-sm-4 p, .row.main .col-sm-5 p, .row.main .col-sm-6 p,
      .row.main .col-sm-7 p, .row.main .col-sm-8 p, .row.main .col-sm-9 p,
      .row.main .col-sm-10 p, .row.main .col-sm-11 p, .row.main .col-sm-12 p,
      .row.main .col-md-1 p, .row.main .col-md-2 p, .row.main .col-md-3 p,
      .row.main .col-md-4 p, .row.main .col-md-5 p, .row.main .col-md-6 p,
      .row.main .col-md-7 p, .row.main .col-md-8 p, .row.main .col-md-9 p,
      .row.main .col-md-10 p, .row.main .col-md-11 p, .row.main .col-md-12 p,
      .row.main .col-lg-1 p, .row.main .col-lg-2 p, .row.main .col-lg-3 p,
      .row.main .col-lg-4 p, .row.main .col-lg-5 p, .row.main .col-lg-6 p,
      .row.main .col-lg-7 p, .row.main .col-lg-8 p, .row.main .col-lg-9 p,
      .row.main .col-lg-10 p, .row.main .col-lg-11 p, .row.main .col-lg-12 p
       {
        padding-left: 0px;
        padding-right: 0px;
      }

      .list-inline li {
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 5px;
        margin-right: 5px;
      }

      .list-inline li a {
        color: #333;
      }

      .list-inline li a:hover {
        color: #333;
        text-decoration: none;
        padding-bottom: 2px;
        border-bottom: 1px #333 solid;
      }

      li.current-menu-item {
        border-bottom: 1px #333 solid;
      }

      .navigation {
        height: 60px;
      }

      .footer {
        text-align: center;
        font-size: 8pt;
        margin-top: 30px;
      }

      .titlesize {
        height: 60px;
        vertical-align: text-bottom;
        position: relative;
        margin-top: 48px;
      }

      .igallery img {
        max-width: 100%;
        height: auto;
      }

      .igallery .wp-caption  {
        max-width: 100%;
      }

      .igallery .wp-caption .wp-caption-text {
        position: absolute;
        top: 0px;
        height: calc(100% - 20px);
        width: calc(100% - 30px);
        background-color: rgba(178,223,219,0.9);
        opacity: 0;
        left: 15px;
        color: #fff;
        text-align: center;
        padding-top: calc(50% - 64px);
        font-size: 32px;
        font-weight: bold;
        font-family: "Muli";
        margin-top: 10px;
      }

      .igallery .wp-caption .wp-caption-text:hover {
        opacity: 1;
      }

      .imggrid .wp-caption {
        max-width: 100%;
        position: relative;
	display: block;
      }

      .imggrid .wp-caption .wp-caption-text a {
        position: absolute;
        top: 0;
        background-color: rgba(178,223,219,0.9);
        opacity: 0;
        color: #FFF;
        left: 0;
        right: 0;
        bottom: 5px;
        padding-top: 50%;
        font-size: 32px;
        text-align: center;
        font-weight: bold;
      }

      .imggrid .wp-caption .wp-caption-text a:hover {
        opacity: 1;
        text-decoration: none
      }
