html {
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    color: #333;
    font-family: Muli, "sans-serif";
    font-weight: 300;
    height: 100%;
}
h1 {
    font-family: "Playfair Display", serif;
}
h1.title {
    font-size: 36pt;
    color: #333;
    font-variant: small-caps;
    font-weight: 400;
    text-transform: lowercase;
    margin-bottom: 0px;
}

a.title:hover {
    text-decoration: none;
}

a {
    color: #009688;
}

p {
    color: #333;
    font-family: Muli, sans-serif;
    font-weight: 300;
    text-align: justify;
}

.row.main p {
    padding-left: 15px;
    padding-right: 15px;
}

.headerrow {
    margin-bottom: 5px;
}

.row.main .col-xs-1 p, .row.main .col-xs-2 p, .row.main .col-xs-3 p,
.row.main .col-xs-4 p, .row.main .col-xs-5 p, .row.main .col-xs-6 p,
.row.main .col-xs-7 p, .row.main .col-xs-8 p, .row.main .col-xs-9 p,
.row.main .col-xs-10 p, .row.main .col-xs-11 p, .row.main .col-xs-12 p,
.row.main .col-sm-1 p, .row.main .col-sm-2 p, .row.main .col-sm-3 p,
.row.main .col-sm-4 p, .row.main .col-sm-5 p, .row.main .col-sm-6 p,
.row.main .col-sm-7 p, .row.main .col-sm-8 p, .row.main .col-sm-9 p,
.row.main .col-sm-10 p, .row.main .col-sm-11 p, .row.main .col-sm-12 p,
.row.main .col-md-1 p, .row.main .col-md-2 p, .row.main .col-md-3 p,
.row.main .col-md-4 p, .row.main .col-md-5 p, .row.main .col-md-6 p,
.row.main .col-md-7 p, .row.main .col-md-8 p, .row.main .col-md-9 p,
.row.main .col-md-10 p, .row.main .col-md-11 p, .row.main .col-md-12 p,
.row.main .col-lg-1 p, .row.main .col-lg-2 p, .row.main .col-lg-3 p,
.row.main .col-lg-4 p, .row.main .col-lg-5 p, .row.main .col-lg-6 p,
.row.main .col-lg-7 p, .row.main .col-lg-8 p, .row.main .col-lg-9 p,
.row.main .col-lg-10 p, .row.main .col-lg-11 p, .row.main .col-lg-12 p
{
    padding-left: 0px;
    padding-right: 0px;
}

.list-inline li {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.list-inline li a {
    color: #333;
}

.list-inline li a:hover {
    color: #333;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px #333 solid;
}

li.current-menu-item {
    border-bottom: 1px #333 solid;
}

.navigation {
    height: 80px;
}

.footer {
    text-align: center;
    font-size: 8pt;
    margin-top: 30px;
}

.titlesize {
    height: 60px;
    vertical-align: text-bottom;
    position: relative;
    margin-top: 51px;
}

.igallery img {
    max-width: 100%;
    height: auto;
}

.igallery .wp-caption  {
    max-width: 100%;
}

@media (min-width: 768px) {

    .no-overlay {
        margin-bottom: 30px;
        width: 100%;
    }

    .homepagetext {
        margin-bottom: 28px;
    }

    .igallery .wp-caption .wp-caption-text {
        position: absolute;
        top: 0px;
        height: calc(100% - 20px);
        width: calc(100% - 30px);
        /*background-color: rgba(178,223,219,0.9);*/
        background-color: rgba(128,203,196,0.8);
        opacity: 0;
        left: 15px;
        color: #fff;
        text-align: center;
        padding-top: calc(50% - 64px);
        font-size: 24px;
        font-family: "Muli";
        margin-top: 10px;
      }

    .igallery .wp-caption .wp-caption-text:hover {
        opacity: 1;
    }

    .imggrid .wp-caption {
        width: 100%;
        display: block;
        position: relative;
        /*
        max-width: 100%;
        position: relative;
        display: block;
        */
    }

    .imggrid .wp-caption .wp-caption-text a {
        position: absolute;
        top: 0;
        background-color: rgba(128,203,196,0.8);
        opacity: 0;
        color: #FFF;
        left: 0;
        right: 0;
        bottom: 5px;
        padding-top: 45%;
        font-size: 24px;
        text-align: center;
        line-height: 26px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 767px) {

    .imggrid .wp-caption {
        width: 100%;
    }

    .wp-caption img {
        width: 100%;
    }

    .imggrid .wp-caption .wp-caption-text {
        max-width: 100%;
        font-size: 24px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgb(128,203,196);
        height:0px;


    }

    .imggrid .wp-caption .wp-caption-text a {
        color: #FFF;
    }

}

.imggrid p img.img-responsive {
    position: relative;
    width: 100%;
    left: 0;
    right: 0;

}


.imggrid .wp-caption .wp-caption-text a:hover {
    opacity: 1;
    text-decoration: none
}


.icarousel {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: #FFF;
    height:100%;
    overflow-x: hidden;
}

.icarousel-slide {
    position: fixed;
    top: 10%;
    bottom: 10%;
    left: 0px;
    right: 0px;
}

.icarousel-img {
    position: relative;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
}

.icarousel .carousel-control.left,  .icarousel .carousel-control.right {
    background-image: none;
}

.icarousel-glyph {
    color: #333;
}

.icarousel-close {
    font-size: 30px;
    width: 30px;
    height:30px;
    color: #333;
    position: absolute;
    top: 0px;
    display: inline-block;
    height: 30px;
    margin-left: -10px;
}

.icarousel-caption {
    position: absolute;
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    bottom: 0;
    height: 20px;
    left: 35%;
    right: 35%;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;

}

.closebutton {
    height: 30px;
}

.bigtext {
    font-size: 150px;
    font-family: 'Playfair Display';
}

@media (max-width: 767px) {
    .bigtext {
        font-size: 75px;
    }
}


